<link rel="stylesheet" href="/css/admin.css">
<div class="top-bar">
    <h3 class="brand">My Library</h3>
    <h3 class="topic">Admin panel</h3>
</div>
<div class="overview">
    <p class="green"> <i class="fas fa-book"></i> Books </p>
    <p class="blue"> <i class="fas fa-book-open"></i> Periodicals </p>
    <p class="red"> <i class="fas fa-money-check-alt"></i> Fine </p>
    <p class="orange"> <i class="fas fa-users"></i> Users </p>
</div>
<div id="tab">
    <div class="tab book-tab">
        <p class="title">Books</p>
        <button class="add-book">+ Add new Book</button>
        <table class="books">
            <thead>
                <th>Id</th>
                <th>Pic</th>
                <th>Qnt</th>
                <th>Out</th>
                <th>Title</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><img src="/upload/book.jpeg" alt=""></td>
                    <td>5</td>
                    <td>4</td>
                    <td>
                        <p class="booktitle">Lord of the Rings </p>
                        <p class="author">author - Shahul</p>
                        <p class="shelf">Shelf no 2</p>
                    </td>
                    <td>
                        <i class="far fa-eye"></i>
                        <i class="far fa-edit"></i>
                        <i class="far fa-trash-alt"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab per-tab">
        <p class="title">Periodicals</p>

    </div>
    <div class="tab fine-tab"></div>
    <div class="tab user-tab"></div>
</div>